$icon-font-path: "../fonts/";
$fa-font-path: "../bower_components/font-awesome/fonts/";

@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "../bower_components/font-awesome/scss/font-awesome";

@font-face {
    font-family: 'Core Circus 3D Frame';
    src: url('../fonts/core_circus_3d/core_circus_3d_frame.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/core_circus_3d/core_circus_3d_frame.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/core_circus_3d/core_circus_3d_frame.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Core Circus';
    src: url('../fonts/core_circus/core_circus.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/core_circus/core_circus.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/core_circus/core_circus.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Mikado Regular';
    src: url('../fonts/mikado_regular/mikado_regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/mikado_regular/mikado_regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/mikado_regular/mikado_regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@keyframes anim-words {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
    20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes hover-fill {
    0%   { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes hover-leave {
    0%   { opacity: 1; }
    100% { opacity: 0.5; }
}

@keyframes left-plane-move {
    0%     { right: 0; }
    100%   { transform: translate(-3vw,0) rotate(225deg);}
}

@keyframes right-plane-move {
    0%     { left: 0; }
    100%   { transform: translate(3vw,0) rotate(45deg);}
}

.fa-rotate-45 {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.fa-rotate-225 {
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -o-transform:rotate(225deg);
    transform:rotate(225deg);
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
}

.landing {
    height: 100vh;
    width: 100%;
    background: url(../images/bg/me_b&w.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .intro {
        float: right;
        margin-top: 10vh;
        margin-right: 10vw;

        .header {
            font-family: 'Core Circus 3D Frame';
            font-size: 64px;
            color: #7469D8;
            text-align: right;
        }

        .details {
            text-align: right;
            font-family: 'Core Circus';
            font-size: 64px;
            color: #7469D8;
            white-space: nowrap;

        }


        .anim-container {
            font-family: 'Core Circus';
            font-size: 64px;
            color: #7469D8;
            white-space: nowrap;


            .rotating-words {
                text-align: right;

                span {
                    position: absolute;
                    right: 10vw;
                    opacity: 0;
                    overflow: hidden;
                    color: #47D0BD;
                    animation: anim-words 30s ease-in infinite 0s;
                }

                span:nth-child(1) {
                    animation-delay: 0s;
                    color: #47D0BD;
                }

                span:nth-child(2) {
                    animation-delay: 5s;
                    color: #203E5F;
                }

                span:nth-child(3) {
                    animation-delay: 10s;
                    color: #FCE850;
                }

                span:nth-child(4) {
                    animation-delay: 15s;
                    color: #ee1515;
                }

                span:nth-child(5) {
                    animation-delay: 20s;
                    color: #60A261;
                }

                span:nth-child(6) {
                    animation-delay: 25s;
                    color: #8BDEFF;
                }
            }
        }

        .footer {
            background: none;
            text-align: right;
            font-family: 'Core Circus';
            color: #000;
            position: absolute;
            bottom: 5vh;
            right: 10vw;

            a {
                text-decoration: none;
                color: #000;
            }
        }
    }



}

.page {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding-bottom: 5vh;

    .header {
        font-size: 56px;
        text-align: center;
        padding-top: 6vh;
        font-family: 'Core Circus';
    }

    .logos {
        margin-top: 3vh;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .logo {
            display: inline-block;
            background: no-repeat center center;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .logo:hover {
            cursor: pointer;
        }

        .logo-passive:after {
            content: "";
            background: no-repeat center center;
            background-size: contain;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
            animation: hover-leave 1s ease-in;
        }

        .logo-passive:hover:after {
            animation: hover-fill 1s ease-in;
            opacity: 1.0;
        }

        .logo-active {
            width: 20vw;
            display: inline-block;
            background: no-repeat center center;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .logo-active:after {
            content: "";
            background: no-repeat center center;
            background-size: contain;
            opacity: 1.0;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }

    }

    .hidden-fade {
        animation: fade-out 2s ease-out;
        height: 0;
        overflow: hidden;
    }

    .fade-in {
        animation: fade-in 2s ease-in 0s;
    }

    .copy {
        max-width: 80vw;
        min-height: 50vh;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Mikado Regular';
        text-align: left;
        font-size: 24px;
        color: #fff;

        .para {
            a:hover{
                text-decoration: none;
            }
        }

        ul li {
            list-style-type: none;
        }
    }
}

.about {
    background-color: #7793e1;

    .header {
        color: #264AAD;
    }

    .copy {
        margin-top: 5vh;

        .para {
            color: #e3e9f9;
        }

        a {
            color: #ea3d32;
        }
    }
}

.education {
    background-color: #9ac9a0;

    .header {
        color: #519859;
    }

    .logos {
        height: 30vh;

        .logo {
            width: 20vw;
        }

        .logo-active {
            width: 20vw;
        }

        .plane-container {

            .plane {
                width: 5vw;
                line-height: 30vh;
                color: #000;
                display: inline-block;
                font-size: 30px;
            }

            .left-plane {
                animation: left-plane-move 3s infinite 0s;
            }

            .right-plane {
                padding-top: 4vh;
                animation: right-plane-move 3s infinite 0s;
            }
        }

        .sbu {
            margin: 0;
            width: 30vw;
            display: inline-block;
        }

        .sbu::after {
            background-image: url(../images/schools/sbu.png);
        }

        .efrei {
            height: 20vh;
        }

        .efrei::after {
            background-image: url(../images/schools/efrei.png);
        }

        .uos {
            height: 20vh;
        }

        .uos::after {
            background-image: url(../images/schools/uos.png);
        }

    }

    .copy {
        margin-top: 3vh;
        animation: fade-in 2s ease-in 0s;

    }
}

.experience {

    //background-image: url(../images/bg/ice_blue.jpg);
    background-color: #858585;

    .logos {

        margin-top: 3vh;
        height: 15vh;

        .logo {
            width: 15vw;
        }

        .stech::after {
            background-image: url(../images/work/stech.png);
        }

        .hbo::after {
            background-image: url(../images/work/hbo.png);
        }

        .hrank::after {
            background-image: url(../images/work/hackerrank.png);
        }

        .sbugd::after {
            background-image: url(../images/work/sbu_logo.png);
        }
    }

    .copy {
        margin-top: 5vh;
        animation: fade-in 1s ease-in 0s;
    }

    .sbugd {
        a {
            color: #990000;
        }
    }

    .stech {
        a {
            color: #fdb713;
        }
    }

    .hrank {
        a {
            color: #27ad5b;
        }

    }


}

.portfolio {
    //background-image: url(../images/bg/marble.jpg);
    //background-size: 100%;
    background-color: #FFC107;
    .header {
        color: #a36600;
    }

    .grid {
        .logos {
            height: 20vh;
            margin-top: 5vh;

            .logo {
                width: 20vw;
            }

            .logo-passive::after {
            }


            .roam::after {
                background-image: url(../images/portfolio/roam/roam_logo.png);
            }

            .sbu-design::after {
                background-image: url(../images/portfolio/sbu.svg);
            }

            .stokr::after {
                background-image: url(../images/portfolio/stokr/stokr_logo.svg);
            }

            .rendezvous::after {
                background-image: url(../images/portfolio/rendezvous/rendezvous.png);
            }

            .hungerless::after{
                background-image: url(../images/portfolio/hungerless.png);
            }

            .simpaired::after {
                background-image: url(../images/portfolio/simpaired/simpaired_logo.png);
            }

            .sbgd::after {
                background-image: url(../images/portfolio/sbgd_logo.png);
            }

            .recycle::after {
                background-image: url(../images/portfolio/recycle/recycle.png);
            }

            .cable::after{
                background-image: url(../images/portfolio/cable.png);
            }
        }
    }

    .content {
        margin-top: 5vh;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;

        .logos {
            width: 80vw;
            padding-bottom: 20px;
            margin-bottom: 20px;
            flex-direction: row;
            border-bottom: solid #FF5252 3px;
            display: flex;
            height: initial;
            margin-top: 0;
            vertical-align: top;
            justify-content: space-between;

            .logo {
                width: 7vw;
                height: 7vh;
                transform: translateY(0%);
                top: 0;
            }

            .logo-passive::after {
                background-size: contain;
            }

            .logo-active:after {
                background-size: contain;
            }

            .roam::after {
                background-image: url(../images/portfolio/roam/roam_logo.png);
            }

            .sbu-design::after{
                background-image: url(../images/portfolio/sbu.svg);
            }

            .stokr::after{
                background-image: url(../images/portfolio/stokr/stokr_logo.svg);
            }

            .hungerless::after{
                background-image: url(../images/portfolio/hungerless.png);
            }

            .rendezvous::after {
                background-image: url(../images/portfolio/rendezvous/rendezvous.png);
            }

            .simpaired::after {
                background-image: url(../images/portfolio/simpaired/simpaired_logo.png);
            }

            .sbgd::after {
                background-image: url(../images/portfolio/sbgd_logo.png);
            }

            .recycle::after {
                background-image: url(../images/portfolio/recycle/recycle.png);
            }

            .cable::after{
                background-image: url(../images/portfolio/cable.png);
            }
        }

        .about-project {
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            overflow: hidden;

            .slider-list {
                display: flex !important;
                justify-content: center;
                align-items: center;

                .slider-slide {
                    display: flex !important;
                    justify-content: center;
                    align-items: center;
                }
            }


            .carousel-image {
                max-height: 80vh;
                max-width: 70vw;
            }

            .slider-decorator-2{
                bottom: unset !important;
            }

            .devpost {
                display: inline-block;
                height: 24px;
                width: 24px;
                -webkit-mask: url(../images/portfolio/devpost-icon.svg) no-repeat;
                mask: url(../images/portfolio/devpost-icon.svg) no-repeat;;
                vertical-align: middle;
            }

            .wordmark {
                height: 20vh;
                background: no-repeat;
                background-size: contain;
                margin-bottom: 20px;
                background-position-x: 50%;
            }

            .para {
                color: #212121;
            }

            .about-roam {
                .roam-wordmark {
                    background-image: url(../images/portfolio/roam/roam.png);
                }

                a {
                    color: #406a35;
                }

                .devpost {
                    background-color: #406a35;
                }
            }

            .about-stokr {
                .stokr-wordmark {
                    background-image: url(../images/portfolio/stokr/stokr.png);
                }

                a {
                    color: #7c7c7c;
                }

                .devpost {
                    background-color: #7c7c7c;
                }


            }

            .about-rendezvous {

                .rendezvous-wordmark {
                    background-image: url(../images/portfolio/rendezvous/rendezvous-wordmark.png);
                }

                a {
                    color: #c6e4f4;
                }

                .devpost {
                    background-color: #c6e4f4;
                }


            }

            .about-hungerless {

                .hungerless-wordmark {
                    background-image: url(../images/portfolio/hungerless/hungerless-wordmark.png);
                }

                a {
                    color: #a68753;
                }

                .devpost {
                    background-color: #a68753;
                }

            }

            .about-simpaired {

                .simpaired-wordmark {
                    background-image: url(../images/portfolio/simpaired/simpaired-wordmark.png);
                }

                a {
                    color: #D55555;
                }

                .devpost {
                    background-color: #D55555;
                }

                .carousel-image {
                    max-width: 50vw;
                }

            }

            .about-sbu-design {

                .sbu-design-wordmark {
                    background-image: url(../images/portfolio/sbu-design/sbu-wordmark.png);
                }

                a {
                    color: #D55555;
                }

                .devpost {
                    background-color: #D55555;
                }

                .carousel-image {
                    max-height: 70vh;

                    img {
                        max-height: 20vh;
                        max-width: 60vw;
                        margin-top: 10px;
                        display: block;
                    }
                }
            }

            .about-sbgd {

                margin: 0px 40px;

                .sbgd-wordmark {
                    background-image: url(../images/portfolio/sbgd/sbgd-wordmark.png);
                }

                a {
                    color: #D55555;
                }

                .devpost {
                    background-color: #D55555;
                }
            }

            .about-recycle {

                margin: 0px 40px;

                .recycle-wordmark {
                    background-image: url(../images/portfolio/recycle/recycle-wordmark.png);
                }

                a {
                    color: #007700;
                }

                .devpost {
                    background-color: #007700;
                }
            }


            .about-cable {

                margin: 0px 40px;

                .cable-wordmark {
                    background-image: url(../images/portfolio/cable.png);
                }

                a {
                    color: #007700;
                }

                .devpost {
                    background-color: #007700;
                }
            }

        }
    }

}

.extracurriculars {

    background-color: #00BCD4;

    .header {
        color: #00606a;
    }

    .logos {

        margin-top: 3vh;
        height: 15vh;

        .logo {
            width: 15vw;
        }

        .jso::after {
            background-image: url(../images/extracurriculars/jso.png);
        }

        .sbcs::after {
            background-image: url(../images/extracurriculars/sbcs.png);

        }

        .sbgd::after {
            background-image: url(../images/portfolio/sbgd_logo.png);
        }

        .recycle::after {
            background-image: url(../images/portfolio/recycle/recycle.png);
        }

    }


    .copy{
        margin-top: 5vh;
        animation: fade-in 1s ease-in 0s;
    }

    .jso {
        a {
            color: #c80025;
        }

        .heart {
            color: #fff;
            transition: .8s;
        }

        .heart:hover {
            color: #c80025;
        }
    }

    .sbcs {
        a {
            color: #55a1d8;
        }
    }


}

.contact {
    background-color: #E84545;

    .header {
        color: #ba1717;
    }

    .copy {

        margin-top: 5vh;

        .para {
            color: #fff;
        }

        .links {

            text-align: center;
            margin-top: 20px;

            .first {
                margin-left: 0;
            }

            a {
                margin-left: 10px;
                margin-right: 10px;
                color: #fff;
                font-size: 24pt;


                .fa {
                    transition: 0.7s;
                    transform: rotateY(0deg);
                }

            }

            a:hover .fa {
                color: #000;
                transition: 0.7s;
                transform: rotateY(180deg);
            }

        }

        .last {
            text-align: center;
        }

    }
}

.footer {
    text-align: center;
    font-family: 'Mikado Regular';
    font-size: 14px;

    background-color: #607D8B;
    padding-top: 10px;
    padding-bottom: 10px;

    p {
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        margin-bottom: 0;
        color: #000;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}

@media (max-width: 850px) {
    .landing{
        .intro {
            .header {
                font-size: 48px;
            }
            .details {
                font-size: 48px;
            }
            .anim-container {
                font-size: 48px;
            }
        }
    }
}


@media (max-width: 600px) {

    .landing{
        .intro {
            .header {
                font-size: 36px;
            }
            .details {
                font-size: 36px;
            }
            .anim-container {
                font-size: 36px;
            }

            .footer {
                color: #fff;

                a {
                    color: #fff;
                }
            }
        }

    }
    .page {
        .header {
            font-size: 36px;
        }
    }
}

@media (max-width: 450px) {


    .landing{
        .intro {
            margin-right: 5vw;

            .header {
                font-size: 24px;
            }
            .details {
                font-size: 24px;
            }
            .anim-container {
                font-size: 24px;

                .rotating-words {
                    span {
                        right: 5vw;
                    }
                }
            }

            .footer {
                color: #fff;

                a {
                    color: #fff;
                }
            }
        }
    }

    .page {
        .copy {
            font-size: 14px;
        }
    }

    .portfolio {
        .content {

            .about-project {

                .wordmark {
                    height: 10vh;
                }

                .devpost {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }


    .footer {
        font-size: 10px;
    }
}
