$icon-font-path: "../fonts/";
$fa-font-path: "/bower_components/font-awesome/fonts/";

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "font-awesome/scss/font-awesome";

@font-face {
    font-family: 'Core Circus 3D Frame';
    src: url('../fonts/core_circus_3d/core_circus_3d_frame.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/core_circus_3d/core_circus_3d_frame.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/core_circus_3d/core_circus_3d_frame.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Core Circus';
    src: url('../fonts/core_circus/core_circus.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/core_circus/core_circus.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/core_circus/core_circus.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
    font-family: 'Mikado Regular';
    src: url('../fonts/mikado_regular/mikado_regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/mikado_regular/mikado_regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/mikado_regular/mikado_regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@keyframes anim-words {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
    20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}

@keyframes fade-in {
    0%   { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade-out {
    0%   { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes hover-fill {
    0%   { opacity: 0.5; }
    100% { opacity: 1; }
}

@keyframes hover-leave {
    0%   { opacity: 1; }
    100% { opacity: 0.5; }
}

@keyframes left-plane-move {
    0%     { right: 0; }
    100%   { transform: translate(-3vw,0) rotate(225deg);}
}

@keyframes right-plane-move {
    0%     { left: 0; }
    100%   { transform: translate(3vw,0) rotate(45deg);}
}

.fa-rotate-45 {
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.fa-rotate-225 {
    -webkit-transform:rotate(225deg);
    -moz-transform:rotate(225deg);
    -o-transform:rotate(225deg);
    transform:rotate(225deg);
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.app {
    height: 100%;
    width: 100%;
}

.landing {
    height: 100vh;
    width: 100%;
    background: url(../images/bg/me_b&w.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .intro {
        float: right;
        margin-top: 10vh;
        margin-right: 10vw;

        .header {
            font-family: 'Core Circus 3D Frame';
            font-size: 64px;
            color: #7469D8;
            text-align: right;
        }

        .details {
            text-align: right;
            font-family: 'Core Circus';
            font-size: 64px;
            color: #7469D8;
            white-space: nowrap;

        }


        .anim-container {
            font-family: 'Core Circus';
            font-size: 64px;
            color: #7469D8;
            white-space: nowrap;


            .rotating-words {
                text-align: right;

                span {
                    position: absolute;
                    right: 10vw;
                    opacity: 0;
                    overflow: hidden;
                    color: #47D0BD;
                    animation: anim-words 30s ease-in infinite 0s;
                }

                span:nth-child(1) {
                    animation-delay: 0s;
                    color: #47D0BD;
                }

                span:nth-child(2) {
                    animation-delay: 5s;
                    color: #203E5F;
                }

                span:nth-child(3) {
                    animation-delay: 10s;
                    color: #FCE850;
                }

                span:nth-child(4) {
                    animation-delay: 15s;
                    color: #ee1515;
                }

                span:nth-child(5) {
                    animation-delay: 20s;
                    color: #60A261;
                }

                span:nth-child(6) {
                    animation-delay: 25s;
                    color: #8BDEFF;
                }
            }
        }

        .footer {
            text-align: right;
            font-family: 'Core Circus';
            color: #000;
            position: absolute;
            bottom: 5vh;
            right: 10vw;

            a {
                text-decoration: none;
                color: #000;
            }
        }
    }



}

.page {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding-bottom: 5vh;

    .header {
        font-size: 64px;
        text-align: center;
        padding-top: 6vh;
        font-family: 'Core Circus';
    }

    .logos {
        margin-top: 3vh;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        flex-flow: center;
        justify-content: center;

        .logo {
            display: inline-block;
            background: no-repeat center center;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .logo:hover {
            cursor: pointer;
        }

        .logo-passive:after {
            content: "";
            background: no-repeat center center;
            background-size: contain;
            opacity: 0.5;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
            animation: hover-leave 1s ease-in;
        }

        .logo-passive:hover:after {
            animation: hover-fill 1s ease-in;
            opacity: 1.0;
        }

        .logo-active {
            width: 20vw;
            display: inline-block;
            background: no-repeat center center;
            -webkit-background-size: contain;
            -moz-background-size: contain;
            -o-background-size: contain;
            background-size: contain;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .logo-active:after {
            content: "";
            background: no-repeat center center;
            background-size: contain;
            opacity: 1.0;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            z-index: -1;
        }

    }

    .hidden-fade {
        animation: fade-out 2s ease-out;
        height: 0;
        overflow: hidden;
    }

    .fade-in {
        animation: fade-in 2s ease-in 0s;
    }

    .copy {
        max-width: 70vw;
        min-height: 50vh;
        margin-left: auto;
        margin-right: auto;
        font-family: 'Mikado Regular';

        .para {
            font-size: 24px;
            color: #fff;

            a:hover{
                text-decoration: none;
            }

            ul li {
                list-style-type: none;
            }
        }
    }
}

.about {
    background-image: url(../images/bg/birch.jpg);

    .header {
        color: #264AAD;
    }

    .copy {
        margin-top: 5vh;


        a {
            color: #ea3d32;
        }
    }
}

.education {
    background-image: url(../images/bg/sbu_contrast.png);

    .header {
        color: #72B47A;
    }

    .logos {
        height: 30vh;

        .logo {
            width: 20vw;
        }

        .logo-active {
            width: 20vw;
        }

        .plane-container {

            .plane {
                width: 5vw;
                line-height: 30vh;
                color: #000;
                display: inline-block;
                font-size: 30px;
            }

            .left-plane {
                animation: left-plane-move 3s infinite 0s;
            }

            .right-plane {
                padding-top: 4vh;
                animation: right-plane-move 3s infinite 0s;
            }
        }

        .sbu {
            margin: 0;
            width: 30vw;
            display: inline-block;
        }

        .sbu::after {
            background-image: url(../images/schools/sbu.png);
        }

        .efrei {
            height: 20vh;
        }

        .efrei::after {
            background-image: url(../images/schools/efrei.png);
        }

        .uos {
            height: 20vh;
        }

        .uos::after {
            background-image: url(../images/schools/uos.png);
        }

    }

    .copy {
        margin-top: 3vh;
        animation: fade-in 2s ease-in 0s;

    }
}

.experience {

    background-image: url(../images/bg/ice_blue.jpg);

    .logos {

        margin-top: 3vh;
        height: 15vh;

        .logo {
            width: 15vw;
        }

        .stech::after {
            background-image: url(../images/work/stech.png);
        }

        .hbo::after {
            background-image: url(../images/work/hbo.png);
        }

        .hrank::after {
            background-image: url(../images/work/hackerrank.png);
        }

        .sbugd::after {
            background-image: url(../images/work/sbu_logo.png);
        }
    }

    .copy {
        margin-top: 5vh;
        animation: fade-in 1s ease-in 0s;
    }

    .sbugd {
        a {
            color: #990000;
        }
    }

    .stech {
        a {
            color: #fdb713;
        }
    }

    .hrank {
        a {
            color: #27ad5b;
        }

    }


}

.portfolio {
    background-image: url(../images/bg/sandstone.jpg);

    .header {
        color: #fff;
    }

    .logos {
        height: 20vh;
        margin-top: 5vh;

        .logo {
            width: 20vw;
        }

        .logo-passive::after {
            background-size: 50%;
        }


        .roam::after {
            background-image: url(../images/portfolio/roam_logo.png);
        }

        .sbuport::after {
            background-image: url(../images/portfolio/sbu.svg);
        }

        .stokr::after {
            background-image: url(../images/portfolio/stokr_logo.svg);
        }

        .ren::after {
            background-image: url(../images/portfolio/rendezvous.png);
        }

        .hunger::after{
            background-image: url(../images/portfolio/hungerless.png);
        }

        .sim::after {
            background-image: url(../images/portfolio/simpaired_logo.png);
        }

        .sbgd::after {
            background-image: url(../images/portfolio/sbgd_logo.png);
        }

        .recycle::after {
            background-image: url(../images/portfolio/recycle.png);
        }

        .cable::after{
            background-image: url(../images/portfolio/logo.png);
        }
    }

    .content {
        margin-top: 5vh;
        width: 80vw;
        margin-left: auto;
        margin-right: auto;
        min-height: 70vh;
        //display: flex;
        //flex-direction: column;


        .logos {
            width: 7vw;
            flex-direction: column;
            border-right: solid white 3px;
            display: inline-flex;
            height: 100%;
            margin-top: 0;
            vertical-align: top;

            .logo {
                width: 80px;
                height: 80px;
                transform: translateY(0%);
                top: 0;
            }

            .logo-passive::after {
                background-size: 65%;
            }

            .roam::after {
                background-image: url(../images/portfolio/roam_logo.png);
            }

            .sbuport::after{
                background-image: url(../images/portfolio/sbu.svg);
            }

            .stokr::after{
                background-image: url(../images/portfolio/stokr_logo.svg);
            }

            .hunger::after{
                background-image: url(../images/portfolio/hungerless.png);
            }

            .ren::after {
                background-image: url(../images/portfolio/rendezvous.png);
            }

            .sim::after {
                background-image: url(../images/portfolio/simpaired_logo.png);
            }

            .sbgd::after {
                background-image: url(../images/portfolio/sbgd_logo.png);
            }

            .recycle::after {
                background-image: url(../images/portfolio/recycle.png);
            }

            .cable::after{
                background-image: url(../images/portfolio/logo.png);
            }
        }

        .about-project {
            width: 70vw;
            display: inline-block;
            margin-left: 3vw;

            .slider-decorator-2{
                bottom: unset !important;
            }

            .devpost {
                display: inline-block;
                height: 24px;
                width: 24px;
                -webkit-mask: url(../images/portfolio/devpost-icon.svg) no-repeat;
                mask: url(../images/portfolio/devpost-icon.svg) no-repeat;;
                vertical-align: middle;
                background-color: #406a35;
            }

            .roam-profile {
                .roam-wordmark {
                    height: 20vh;
                    background: url(../images/portfolio/roam.png) no-repeat;
                    background-size: contain;
                    margin-bottom: 10px;
                }

                a {
                    color: #406a35;
                }
            }

            .stokr-profile {

            }

        }
    }

}
